<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom Chanson</th>
          <th>Nom Artiste</th>
          <th>Duree</th>
          <th>Vues</th>
          <th>Date Sortie</th>
          <th>Genre</th>
        </tr>
        <tbody>
          <tr *ngFor="let chanson of chansons">
            <td>{{ chanson.idChanson }}</td>
            <td>{{ chanson.nomChanson }}</td>
            <td>{{ chanson.nomArtiste }}</td>
            <td>{{ chanson.duree }}</td>
            <td>{{ chanson.vues }}</td>
            <td>{{ chanson.dateSortie | date : "dd/MM/yyyy" }}</td>
            <td>{{ chanson.genre.nomGen }}</td>
            <td>
              <a class="btn btn-danger" (click)="supprimerChanson(chanson)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updateChanson', chanson.idChanson]"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
