<div class="container" *ngIf="currentChanson">
  <div>
    <h2>Modifier une chanson :</h2>
  </div>
  <form (ngSubmit)="updateChanson()" [formGroup]="myForm">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>ID chanson</label>
      <input
        readonly
        type="text"
        [(ngModel)]="currentChanson.idChanson"
        name="idChanson"
        formControlName="idChanson"
        class="form-control"
      />
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom chanson</label>
      <input
        type="text"
        [(ngModel)]="currentChanson.nomChanson"
        name="nomchanson"
        formControlName="nomChanson"
        class="form-control"
      />
    </div>
    <span
      *ngIf="
        myForm.controls['nomChanson'].hasError('required') &&
        myForm.controls['nomChanson'].touched
      "
      class="text-danger"
    >
      nom chanson est obligatoire
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Artiste</label>
      <input
        type="text"
        [(ngModel)]="currentChanson.nomArtiste"
        name="nomArtiste"
        formControlName="nomArtiste"
        class="form-control"
      />
    </div>
    <span
      *ngIf="
        myForm.controls['nomArtiste'].hasError('required') &&
        myForm.controls['nomArtiste'].touched
      "
      class="text-danger"
    >
      nom artiste est obligatoire
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>email :</label>
      <input
        type="text"
        name="email"
        class="form-control"
        formControlName="email"
        [(ngModel)]="currentChanson.email"
      />
    </div>
    <span
      *ngIf="
        myForm.controls['email'].hasError('required') &&
        myForm.controls['email'].touched
      "
      class="text-danger"
    >
      email est obligatoire
    </span>
    <span
      *ngIf="
        myForm.controls['email'].hasError('email') &&
        myForm.controls['email'].touched
      "
      class="text-danger"
    >
      email non valide
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Duree</label>
      <input
        type="text"
        [(ngModel)]="currentChanson.duree"
        name="duree"
        class="form-control"
        formControlName="duree"
      />
    </div>
    <span
      *ngIf="
        myForm.controls['duree'].hasError('required') &&
        myForm.controls['duree'].touched
      "
      class="text-danger"
    >
      duree est obligatoire
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Vues</label>
      <input
        type="text"
        [(ngModel)]="currentChanson.vues"
        name="vues"
        class="form-control"
        formControlName="vues"
      />
    </div>
    <span
      *ngIf="
        myForm.controls['vues'].hasError('required') &&
        myForm.controls['vues'].touched
      "
      class="text-danger"
    >
      vues est obligatoire
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date Sortie</label>
      <input
        type="date"
        [(ngModel)]="currentChanson.dateSortie"
        name="dateSortie"
        class="form-control"
        formControlName="dateSortie"
      />
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Genre</label>
      <select
        class="form-control form-control-lg"
        id="idEq"
        name="idEq"
        formControlName="genre"
        [(ngModel)]="updatedIdGen"
      >
        <option *ngFor="let genre of genres" [value]="genre.idGen">
          {{ genre.nomGen }}
        </option>
      </select>
    </div>

    <div class="mt-2">
      <button type="submit" (click)="updateChanson()" class="btn btn-success">
        Modifier
      </button>
    </div>
  </form>
</div>
